<div class="flex justify-wrap items-center max-xl:flex-col-reverse gap-10 max-container">
  <div class="flex-1">
    <img ngSrc="assets/images/offer.svg" alt="Special offer" width="773" height="687" class="object-contain w-full" />
  </div>

  <div class="flex flex-1 flex-col">
    <h2 class="font-palanquin text-4xl capitalize font-bold lg:max-w-lg">
      <span class="text-coral-red">Special</span> Offer
    </h2>
    <p class="mt-4 info-text">
      Embark on a shopping journey that redefines your experience with unbeatable deals. From premier selections to
      incredible savings, we offer unparalleled value that sets us apart.
    </p>
    <p class="mt-6 info-text">
      Navigate a realm of possibilities designed to fulfill your unique desires, surpassing the loftiest expectations.
      Your journey with us is nothing short of exceptional.
    </p>

    <div class="mt-11 flex flex-wrap gap-4">
      <app-button label="Shop now" iconURL="arrow-right.svg" class="mt-11"></app-button>
      <app-button
        label="Learn more"
        backgroundColor="bg-white"
        borderColor="border-slate-gray"
        textColor="text-slate-gray"
        class="mt-11"></app-button>
    </div>
  </div>
</div>
